﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Midterm.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Default" %>

<asp:Content ContentPlaceHolderID="bodyContent" Runat="Server">
    <p>Welcome to the Voting Application.</p>
</asp:Content>