﻿body {
    background-color: ivory;
    border: 2px solid cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    overflow: auto;
}

header {
    color: cornflowerblue;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

footer {
    border-top: 2px solid cornflowerblue;
    font-size: 80%;
    margin-bottom: 5px;
    text-align: right;
}

#mnuMidterm {
    border-bottom: 2px solid cornflowerblue;
    border-top: 2px solid cornflowerblue;
    margin-bottom: .5em;
    padding: .5em 0 .5em 1em;
}

.validator { color: red; }