﻿.resultsHeadingLabel {
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 1em;
}

.countsLabel {
    font-size: 200%;
    width: 8em;
}

.descriptionLabel {
    clear: left;
    float: left;
    font-size: 200%;
    margin-left: 2em;
    width: 6em;
}