﻿.voteHeadingLabel {
    font-weight: bold;
    text-decoration: underline;
}

.voteLabel {
    clear: left;
    float: left;
    margin-left: 2em;
    width: 8em;
}

.voteText {
    margin-bottom: 10px;
    width: 6em;
}

.voteRadio { width: 5em; }

.voteButton {
    margin-left: 12em;
    margin-top: 1em;
    margin-bottom: 1em;
}